.root {
    -fx-font-family: Purisa;
    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.title {
    -fx-font-size: 80px;
    -fx-fill: aqua;
}

.text-field {
    -fx-font-family: "Comic Sans MS";
}

#firstName {
    -fx-font-family: Impact;
}